.form_res_wrapper{
   border: 1px solid grey;
   margin-bottom: 5px;
}
.form_res_item{
   padding: 1px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px solid grey;
}