.form_wrapper{
   margin: 0 auto;
   width: 800px;
   /* box-shadow: 2px 2px 2px 4px black; */
   height: 500px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}