.btn_wrapper{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 370px;
}
.checkBox{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    margin-bottom: 20px;
}
.checkBox_item{
   height: 50px;
    width: 50px;
}